/*
:Author: Amit Aronovitch
:Contact: aronovitch@gmail.com
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.
*/

@import url(html4css1.css);

/* Your customizations go here.  For example:

h1, h2, h3, h4, h5, h6, p.topic-title {
  font-family: sans-serif }
*/

/* Language switch bar */
/* Note: If document has bgcolor, make sure to disable margin-top in title */

div.header {
   margin: 0 1em;
   width: 130px;
}

div.header a {
   padding: 5px 15px;
   background-color: #1111cc;
   color: #ffffff;
   text-decoration: none;
   border: 1px solid #000000;
   border-radius: 5px;
}

div.header hr {
   margin-bottom: 0;
}

div.header a:hover {
   background-color: #3333cc;
}

/* <-- end langbar */

div.document {
   /*background: PowderBlue;*/
   padding: 0 1em 2em;
}

h1.title {
   padding: 1em 0;
   margin: 0;
}
